! NOTE: Run $ xrdb ~/.Xresources in terminal to apply settings modified here

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #371f60, #371f60, #e7d100
rofi.color-normal: #371f60, #72c6db, #371f60, #6c44ae, #72c6db
rofi.color-active: #b9b9b9, #000000, #878787, #268bd2, #fdf6e3
rofi.color-urgent: #bf5fa2, #ffffff, #7b4c7f, #dc322f, #fdf6e3

! ------------------------------------------------------------------------------
! URXVT-Unicode Term
! ------------------------------------------------------------------------------
URxvt.font: xft:Source\ Code\ Pro\ for\ Powerline:size=10
URxvt.scrollBar: false

!-- ucomment to set transparency --!
!-- best to do this per application in compton config though --!
! URxvt.transparent: true 
! URxvt.shading: 40 


! urxvt.font: xft:Tewi:size=10
! urxvt.boldFont: xft:Tewi:pixelsize=12

urxvt.background:   #283641
urxvt.foreground:   #D2C5BC
urxvt.cursorColor:  #202020
urxvt.color0:       #202020
urxvt.color8:       #606060
urxvt.color1:       #B91E2E
urxvt.color9:       #D14548
urxvt.color2:       #81957C
urxvt.color10:      #A7B79A
urxvt.color3:       #F9BB80
urxvt.color11:      #FAE3A0
urxvt.color4:       #356579
urxvt.color12:      #7491A1
urxvt.color5:       #2D2031
urxvt.color13:      #87314E
urxvt.color6:       #0B3452
urxvt.color14:      #0F829D
urxvt.color7:       #909090
urxvt.color15:      #FFF0F0
urxvt.fading: 0
urxvt.scrollBar: None
urxvt.termName: rxvt-256color
! urxvt.internalBorder: 4
! urxvt.geometry: 90x18
